@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');

.fullpage {
  font-family: 'Poppins', sans-serif;
  z-index: 9999;
  padding: 0;
  margin: 0;
  position: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  .content {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1 {
      margin-top: 0;
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    img {
      width: 100%;
      max-width: 600px;
    }

    .countdown {
      display: flex;
      justify-content: center;
      div {
        padding: 0 20px;

        border-right: 0.5px solid;
        h3 {
          font-size: 1.6rem;
          margin: 0;
          padding: 0;
        }

        p {
          margin: 0;
          padding: 0;
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    @media (max-width: 500px) {
      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      img {
        width: 80%;
      }

      .countdown {
        div {
          padding: 0 10px;
          h3 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
